// Place all the styles related to the Portal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#notice {
  color: #ff0000;
}

#user_new {
  clear: both;
  margin-bottom: 10px;
}

label {
  color: #666666;
}
